@import url(../../../stylesheets/application.css);
@import url(editor.css);

/*
 * CirclePro Theme:
 *
 *	 1. GENERAL
 *	 2. FONT ICONS
 *	 3. HEADER
 *	 4. TOP-MENU
 *	 5. SOCIAL-MENU
 *	 6. MAIN-MENU
 *	 7. SIDEBAR
 *	 8. FOOTER
 *   9. WIKI
 *	10. FLASH MESSAGES
 *	11. LOGIN FORM
 *	12. TAGS
 *	13. CONTEXT-MENU
 *	14. TIP
 *	15. jQuery UI
 *	16. BUTTONS
 *	17. FORMS COMMON
 *	18. FORMS SPECIFIC
 *	19. TABS
 *	20. TABLES
 *	21. OBJECTS
 *	22. RESPONSIVE
 *	23. SELECT2
 *
 * Based on Circle Theme by Kirill Bezrukov.
 */

/**********************************************************/
/* 1. GENERAL */
/**********************************************************/

#wrapper-top-menu,
#wrapper-header,
#wrapper-main-menu,
#wrapper-main,
#wrapper-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1240px;
}

#wrapper3,
#main {
	background: #ebeae9 url(../images/bg_main.png) repeat-x 0 bottom;
}
#wrapper3 {
	padding-bottom: 30px;
}
#main {
	background-color: transparent;
}
#wrapper-main {
	background-color: #fff;
}

div#content {
	padding: 30px 30px 10px;
	width: 70%;
	background-color: #fff;
	border-right: 0;
}
div#content div.wiki-page > a:first-child + h1,
div#content div.wiki-page > ul.toc + a + h1,
div#preview fieldset > a:first-child + h1,
div#preview fieldset > ul.toc + a + h1,
h2 {
	color: #f30;
	font-size: 46px;
	font-weight: 600;
	line-height: 1em;
}
div#content h1 {
	color: #b40b51;	
}
.wiki h2 {
	color: #b40b51;
}

div.journal div[id^="note-"] > h4:first-child {
	font-size: 13px;
	padding-right: 0;
	margin: 10px 0 20px;
	line-height: 15px;
}
.journal-link {
	font-size: 18px;
	padding-left: 25px;
}

img.gravatar {
	padding: 2px;
	border: solid 1px #d5d5d5;
	background: #fff;
	vertical-align: middle;
	border-radius: 0;
}
h4 img.gravatar {
	display: block;
	float: left;
	margin-right: 6px;
}
div.gravatar-with-child > img.gravatar:nth-child(2) {
	border: solid 1px #d5d5d5;
	border-radius: inherit;
	top: 35px;
	left: 35px;
}
div.gravatar-with-child + div.subject,
div.gravatar-with-child + div.subject + p.author {
	padding-left: 68px;
}

input, textarea, select {
	font-family: Lato,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

input[type="text"].live_search_field,
input[type="text"].questions-search.autocomplete {
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	border-radius: 40px;
	height:28px;
	outline: none;
}

input[type="text"].questions-search.autocomplete {
	padding-left: 30px !important;
}

#sidebar a.selected {
	background-color: #fafafa;
	color: #3d454c;
	line-height: inherit;
	padding: inherit;
	margin-left: inherit;
}

p.breadcrumb {
	padding: 10px 0;
	text-align: left;
	font-weight: bold;
}

div.subject h3 {
	font-size: 20px;
}

p.breadcrumb, p.buttons, p.author, p.other-formats {
	font-size: 13px !important;
}

/*
 * Avoid break inside each project block when use columns in the project's page.
 * See https://stackoverflow.com/q/7785374
 */
#projects-index {
	column-gap: 24px;
	-webkit-column-gap: 24px;
	-moz-column-gap: 24px;
}
#projects-index ul li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display: table;                     /* Actually FF 20+ */
}

div#activity dt.icon {
	background-position: 0 4px !important;
}

.hljs {
	padding: 0 !important;
	background: transparent !important;
	font-size: 15px;
}

.text-diff {
	word-wrap: break-word;
}

div.wiki .external {
	padding-left: 0;
	padding-right: 12px;
	background-position: right 60%;
}

/**********************************************************/
/* 2. FONT ICONS */
/**********************************************************/

@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?47049262');
	src: url('../font/fontello.eot?47049262#iefix') format('embedded-opentype'),
		 url('../font/fontello.woff2?47049262') format('woff2'),
		 url('../font/fontello.woff?47049262') format('woff'),
		 url('../font/fontello.ttf?47049262') format('truetype'),
		 url('../font/fontello.svg?47049262#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes */
	font-variant: normal;
	text-transform: none;

	/* Fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* Remove if not needed */
	margin-left: .2em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rss:before { content: '\e800'; }
.icon-mail:before { content: '\e801'; }
.icon-blog:before { content: '\e802'; }
.icon-github:before { content: '\f09b'; }
.icon-twitter:before { content: '\f309'; }
.icon-facebook:before { content: '\f30c'; }
.icon-linkedin:before { content: '\f318'; }

/**********************************************************/
/* 3. HEADER */
/**********************************************************/

#header {
	background-color: #003346;
	min-height: 5em;
	padding: 0px;
}

#wrapper-header {
	height: 88px;
	background: url(../images/logo.png) no-repeat 30px 0;
	position: relative;
} /*
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#wrapper-header > h1 {
		background-image: url(../images/logo2x.png);
		background-size: 38px 40px;
	}
} */

#wrapper-header > h1 {
	position: absolute;
	bottom: 2px;
	padding-left: 33px;
	margin: 0;
	font-size: 15px;
	letter-spacing: 3px;
	color: #ccc;
}
#wrapper-header > h1 .breadcrumbs {
	display: inline;
	font-size: 15px;
}
#wrapper-header > h1 .breadcrumbs a {
	color: #ccc;
	font-weight: normal;
	letter-spacing: 1px;
}
#wrapper-header > h1 .breadcrumbs a:hover {
	color: #fff;
}

#quick-search {
	margin: 20px 28px 20px 10px;
}
#quick-search select {
	max-width: 300px;
}
#quick-search .drdn-trigger {
	padding-top: 1px;
	font-size: 12px;
}

/**********************************************************/
/* 4. TOP-MENU */
/**********************************************************/

#top-menu {
	height: 31px;
	line-height: 31px;
	background: #556372;
	padding: 0;
 	font-size: 0.9em;
}
#top-menu ul {
	margin: 0 30px;
}
#top-menu a {
	margin-right: 15px;
 	font-weight: normal;
 	color: #aaa;
}
#top-menu a:hover {
	color: #fff;
	text-decoration: none;
}
#top-menu #loggedas,
#top-menu #loggedas a,
#top-menu ul li:last-child a {
	margin-right: 0;
}

/**********************************************************/
/* 5. SOCIAL-MENU */
/**********************************************************/

ul.social-menu {
	float: right;
	margin: 0;
}
ul.social-menu > li {
	list-style-type: none;
	float: left;
}
ul.social-menu > li a {
	margin: 0 !important;
	font-size: 20px;
	display: block;
	width: 30px;
	min-height: 30px;
	line-height: 30px;
	height: 100%;
	text-align: center;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	transition-delay: 0s;
}
ul.social-menu > li a span {
	display: none;
}
ul.social-menu > li:hover a {
	color: #fff !important;
}
ul.social-menu .social-link-blog:hover a {
	background-color: #ffa133;
}
ul.social-menu .social-link-twitter:hover a {
	background-color: #46d4fe;
}
ul.social-menu .social-link-facebook:hover a {
	background-color: #37589b;
}
ul.social-menu .social-link-linkedin:hover a {
	background-color: #419cca;
}
ul.social-menu .social-link-github:hover a {
	background-color: #bd2c00;
}
ul.social-menu .social-link-mail:hover a {
	background-color: #9fae37;
}
#footer ul.social-menu > li a {
	color: #8ca7be;
	border-radius: 300px;
}
#footer ul.social-menu {
	margin: 3px 30px 0 0;
}

/**********************************************************/
/* 6. MAIN-MENU */
/**********************************************************/

#main-menu {
	left: 0px;
	width: 100%;
	line-height: 1em;
	background-color: #001a21;
	font-weight: 500;
	font-size: 14px;
	position: relative;
	height: auto;
	box-sizing: border-box;
}
#main-menu ul {
	padding: 0 15px 0 20px;
	width: 100%;
	white-space: nowrap;
}
#main-menu li {
	margin: 0px;
	padding: 12px 0;
	float: none;
	display: inline-block;
}
#main-menu li > a {
	color: #9da2a6;
}
#main-menu li a:hover, #main-menu li a.selected, #main-menu li a.selected:hover {
	background: none;
	color: #fff;
}
#main-menu .menu-button {
	position: absolute;
	right: 10px;
	top: 16px;
	text-indent: 66em;
	overflow: hidden;
	cursor: pointer;
	width: 24px;
	height: 16px;
	background: url(../images/menu_button.png) no-repeat;
	background-size: 16px 16px; /* For retina displays */
}
#main-menu .menu-button:hover {
	background: url(../images/menu_button_hover.png) no-repeat;
	background-size: 16px 16px; /* For retina displays */
}
/* New object + button */
#main-menu li a.new-object {
	background-color: #001a21;
}
#main-menu .menu-children {
	border: 0px;
	margin-top: 10px;
	background: transparent;
}
#main-menu .menu-children,
#main-menu .menu-children li {
	padding: 0px;
}
#main-menu .menu-children li a {
	padding: 10px 25px;
	background: rgba(0, 26, 33, 0.9);
	color: #9da2a6;
	font-weight: bold;
}
#main-menu .menu-children li a:hover {
	color: #fff;
	background: #001a21;
}
/* Tab buttons */
#main-menu div.tabs-buttons {
	position: absolute;
	right: 0;
	width: 60px;
	height: 100%;
	background: #001a21;
	bottom: 0;
	border: 0px;
}
#main-menu button.tab-left, #main-menu button.tab-right {
	cursor: pointer;
	height:100%;
	border: 0px;
	position: absolute;
	padding: 4px;
	width: 25px;
	bottom: 0px;
	border-radius: 0px;
	background: #001a21;
	color: #9da2a6;
	font-weight: bold;
}
#main-menu button.tab-left:hover, #main-menu button.tab-right:hover {
	background-color: #001a21;
	color: #fff;
}
#main-menu button.tab-left:focus, #main-menu button.tab-right:focus {
	outline: 0;
}
#main-menu button.tab-left {
	right: 25px;
}
#main-menu button.tab-left::before {
	content: "\25C0";
	background: none;
}
#main-menu button.tab-right::before {
	right: 0;
	content: "\25b6";
	background: none;
}
#main-menu button.tab-left.disabled, #main-menu button.tab-right.disabled {
	background-color: #001a21;
	cursor: unset;
	color: #777;
}

/**********************************************************/
/* 7. SIDEBAR */
/**********************************************************/

#sidebar {
	padding-right: 30px;
	line-height: 1.42857em;
}
#sidebar h3 {
	margin-top: 30px;
	background-color: #556372;
	color: #eee;
	font-size: 18px;
	line-height: 23px;
	padding: 5px 5px 5px 23px;
}
#sidebar h3:before {
	content: "//";
	margin-left: -18px;
	letter-spacing: -1px;
	position: absolute;
}
#sidebar div {
	margin-top: 40px;
}
#sidebar div#admin-menu {
	margin-top: 10px;
}
#sidebar p {
	margin-top: 5px;
}

/**********************************************************/
/* 8. FOOTER */
/**********************************************************/

#footer {
	height: 36px;
	padding: 0;
	border: 1px solid #182230;
	background-color: #182330;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}
#footer div.bgl {
	display: inline-block;
	margin: 14px 0 0 30px;
}
#footer a, #footer a:visited {
	color: #ced4d9;
}
#footer a:hover {
	color: #2996cc;
	text-decoration: none;
}

/**********************************************************/
/* 9. WIKI */
/**********************************************************/

div.wiki ul.toc {
	float: right;
	margin-right: 0;
	margin-left: 12px;
	padding: 4px 8px;
}
div.wiki ul.toc a {
	font-size: 0.98em;
}
div.wiki ul.toc li {
	line-height: 1em;
	margin-top: .3em;
}
#preview fieldset {
	width: auto;
	min-width: auto;
	padding-top: 1em;
}

/**********************************************************/
/* 10. FLASH MESSAGES */
/**********************************************************/

#errorExplanation, div.flash, .nodata, .warning, .conflict {
	border: 0px;
	font-weight: bold;
	padding-top: 18px;
	padding-bottom: 18px;
}

div.flash.notice, #flash_notice {
	background:#5cc512;
	color: #fff;
}

div.flash.error, #errorExplanation {
	background: #e52817;
	color: #fff;
}

div.flash.warning, .conflict {
	background-image: none;
}

#errorExplanation ul {
	font-size: 14px;
}

/**********************************************************/
/* 11. LOGIN FORM */
/**********************************************************/

body.action-login #main.nosidebar #content {
	background: #ebeae9 url(../images/bg_login.jpg) repeat-x top center;
}
#login-form {
	border: 0;
	border-radius: 0;
	background-color: rgba(252, 255, 255, 0.45);
	margin-top: 3em;
}
#login-form table {
	border: 0px;
	padding: 30px;
}
#login-form input[type=text],
#login-form input[type=password] {
	height: 39px;
	padding: 6px 12px;
	font-size: 18px;
}
#login-form input#login-submit {
	padding: 0px;
}

/**********************************************************/
/* 12. TAGS */
/**********************************************************/

span.tag-label-color {
	border: 0px !important;
	padding: 4px 8px !important;
	border-radius: 20px !important;
	line-height: 13px;
}
span.tag-label-color:hover {
	opacity: 0.7;
}

.tagit-new .ui-autocomplete-input {
	box-shadow: none;
}

.tagit-close .text-icon {
	top: -3px;
	position: relative;
}

div#content ul.tagit li {
	margin: 2px 5px 1px 0;
}

div#content .contacts-tags-edit ul.tagit {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e0e2e3;
}

/**********************************************************/
/* 13. CONTEXT-MENU */
/**********************************************************/

div#content > div.contextual:first-child,
div.flash + div.contextual {
	float: none;
	text-align: right;
	background-color: #f2f2f2;
	margin-top: 0;
	padding-right: 8px;
}
div#content > div.contextual:first-child a,
div.flash + div.contextual a {
	display: inline-block;
	height: 33px;
	line-height: 33px;
}
div#content > div.contextual:first-child select,
div.flash + div.contextual select {
	margin: 3px 0;
	height: 27px;
	line-height: 27px;
}
div#content > div.contextual:first-child .icon,
div.flash + div.contextual .icon {
	padding: 0 3px 0 20px;
}

div#content .context-menu-selection {
	background-color: #2996cc !important;
}
div#content #context-menu ul {
	border-radius: 4px;
}
div#content #context-menu li a {
	color: #333;
}
div#content #context-menu li:hover {
	background: #f2f4f5;
	color: #3d454c;
	border: 1px solid #f2f4f5;
	border-radius: 0px;
}

div#content #context-menu a.disabled, div#content #context-menu a.disabled:hover {
	color: #aaa;
}

/**********************************************************/
/* 14. TIP */
/**********************************************************/

div.tooltip:hover span.tip {
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #EBF5FB;
}
div.tooltip:hover span.tip a {
	font-weight: bold !important;
}

/**********************************************************/
/* 15. jQuery UI */
/**********************************************************/

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "SqMarket","helvetica neue",helvetica,arial,sans-serif;
	font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea {
	font-size: 12px;
}

.ui-widget-overlay {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}

div.modal {
	padding: 10px;
}

.ui-dialog.modal .ui-widget-header {
	border: 0px;
	color: #3d454c;
	background: #fafafa;
	padding-top: 18px;
	padding-bottom: 18px;
	color: #3d454c;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	border-bottom: solid 1px #ced4d9;
	margin: -10px -10px 5px -10px;
	border-radius: 0px;
}

.ui-widget-content {
	background: white;
}
.ui-widget-content select, .ui-widget-content input[type="text"],
.ui-datepicker .ui-datepicker-title select {
	font-size: 12px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #f2f4f5;
	color: #3d454c;
	border: 1px solid #f2f4f5;
	border-radius: 0px;
}

.ui-widget-header .ui-datepicker-title {
	color: #3d454c;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #f2f4f5;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #FFD5C9;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #D2EEFF;
}

.ui-widget-header .ui-icon-circle-triangle-e {
	background: url(../images/next.png) no-repeat 0px 0px;
}
.ui-widget-header .ui-icon-circle-triangle-w {
	background: url(../images/prev.png) no-repeat 0px 0px;
}

.ui-datepicker .ui-widget-header {
	background: #fff;
	border: 0px;
	border-bottom: solid 1px #ced4d9;
	border-radius: 0px;
	padding: 5px;
	margin: -1px;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	font-weight: normal;
}
.ui-datepicker .ui-datepicker-next {
	top: 5px;
	right: 10px;
}
.ui-datepicker .ui-datepicker-prev {
	top: 5px;
	left: 10px;
}
.ui-datepicker th {
	/*font-size: 13px;*/
	color: #aaa;
	font-weight: 500;
}
.ui-datepicker .ui-state-default {
  /*font-size: 13px;*/
  font-weight: 500;
  color: #333;
  border: 1px solid #fff;
  background: #fff;
}
.ui-datepicker .ui-state-default:hover {
	background: #f6f6f6;
}
.ui-datepicker .ui-state-active {
	background: #D2EEFF;
}
.ui-datepicker .ui-state-highlight {
	color: #ff3b30;
}
.ui-datepicker .ui-state-highlight:hover {
	background-color: #ffd8d6;
}
#ui-datepicker-div {
	padding: 10px;
}
.ui-datepicker .ui-datepicker-buttonpane {
	padding-top: 0.5em;
}
.ui-datepicker-week-col, .ui-datepicker .ui-priority-secondary {
	color: #aaa;
}
.ui-dialog .ui-dialog-title {
	line-height: 1.2em;
}
.ui-dialog .ui-dialog-titlebar-close {
	right: 1em;
	background: #fafafa;
	border: 0px;
}
.ui-dialog .tabular p {
	padding-left: 145px;
}
.ui-dialog .tabular label {
    margin-left: -145px;
    width: 140px;
}

.ui-widget-header .ui-icon.ui-icon-closethick {
	background: url(../images/close.png) no-repeat 0px 0px;
}
.ui-widget-header .ui-state-hover .ui-icon.ui-icon-closethick {
	background: url(../images/close_active.png);
}

.ui-helper-hidden-accessible {
	background-color: #182330;
}

/**********************************************************/
/* 16. BUTTONS */
/**********************************************************/

#ajax-modal p.buttons input,
.ui-datepicker .ui-datepicker-buttonpane button,
.details input[type="submit"],
input[type="button"],
input[type="submit"],
input[type="submit"][name="continue"],
input[type="submit"].small,
input[type="submit"].button-small {
	color: #9da2a6;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	height: 32px;
	padding: 0 14px 0;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	border: 1px solid #e0e2e3;
	font-size: 14px;
	background: #fafafa;
	-webkit-transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,opacity 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,opacity 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,opacity 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,opacity 0.2s ease-in-out;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#ajax-modal p.buttons input[type="submit"],
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close,
input[type="submit"] {
	background: #2996cc;
	border-color: transparent;
	color: #fff;
}

#ajax-modal p.buttons input[type="submit"]:hover,
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close.ui-state-hover,
input[type="submit"]:hover {
	background: #3ba8de;
	color: #fff;
}

#ajax-modal p.buttons input:hover,
.ui-datepicker .ui-datepicker-buttonpane button.ui-state-hover,
input[type="submit"][name="continue"]:hover,
input[type="button"]:hover,
.details input[type="submit"]:hover,
input[type="submit"].small:hover,
input[type="submit"].button-small:hover {
	background-color: #fff;
	-webkit-box-shadow: rgba(0,0,0,0.08) 0 1px 1px;
	-moz-box-shadow: rgba(0,0,0,0.08) 0 1px 1px;
	box-shadow: rgba(0,0,0,0.08) 0 1px 1px;
	color: #3d454c;
	-webkit-transition-duration: 0.05s;
	-moz-transition-duration: 0.05s;
	-o-transition-duration: 0.05s;
	transition-duration: 0.05s;
}

input[type="submit"].button-small,
input[type="button"].small,
.details input[type="submit"],
.ui-datepicker .ui-datepicker-buttonpane button,
.query-columns td.buttons input[type="button"],
input[type="submit"].small {
	height: 26px;
	padding: 0 13px 0;
	line-height: 23px;
	font-size: 12px;
}

/**********************************************************/
/* 17. FORMS COMMON */
/**********************************************************/

.tabular.settings p {
	padding-left: 200px;
	padding-bottom: 8px;
}
.tabular.settings label {
	margin-left: -200px;
	width: 195px;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="search"],
fieldset#filters td.values input {
	padding: 1px 10px;
	background-color: #fff;
	color: #3d454c;
	border-radius: 0 !important;
	height: 22px;
	border: 1px solid #e0e2e3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	margin: 0px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus,
fieldset#filters td.values input:focus {
	border-color:#2996cc;
	outline: none;
}

.box {
	padding:15px;
	background: #fafafa;
	border: solid 1px #e0e2e3;
	border-radius: 3px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	z-index: 1;
	padding: 4px 30px 4px 10px;
	background-color: #fff;
	color: #3d454c;
	cursor: pointer;
	border: 1px solid #e0e2e3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	background: url(../images/select.png) no-repeat right #fff;
	background-size: 18px 16px;
	text-indent: 0.01px;
	text-overflow: "";
	border-radius: 0 !important;
	height: 26px;
}

.check_box_group {
	padding: 3px 6px;
	border: 1px solid #e0e2e3;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	select {
		background: url(../images/select2x.png) no-repeat right #fff;
		background-size: 18px 16px;
	}
}

@-moz-document url-prefix() {
  select {
     padding: 4px 0px 4px 5px;
  }
}

select::-ms-expand {
	display: none;
}

select[multiple="multiple"] {
	height: auto;
	background: #fff;
	padding: 5px 10px;
}

.jstElements button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	background-color: #fff;
	color: #3d454c;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e0e2e3;
}

input.hasDatepicker {
	padding-right: 25px;
}

img.ui-datepicker-trigger {
	position: relative;
	margin-left: -26px;
	margin-right: 10px;
}

/**********************************************************/
/* 18. FORMS SPECIFIC */
/**********************************************************/

#user_login, #user_firstname, #user_lastname, #user_mail {
	width: 76%;
}

input#issue_subject,
input#content_comments {
	width: 97%;
}

.contact-issues input#issue_subject {
	width: 93%;
}

/**********************************************************/
/* 19. TABS */
/**********************************************************/

#content .tabs ul {
	border-bottom: 1px solid #ECECEC;
}
#content .tabs ul li a {
	border: 1px solid #ECECEC;
	background-color: #ECECEC;
	border-radius: 0px;
}
#content .tabs ul li a.selected {
	border: 1px solid #ECECEC;
	border-bottom: 1px solid #FFF;
}
#content .tabs ul li a.selected:hover {
	border-top: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
}
#content .tabs ul li a:hover {
	border-top: 1px solid #ffffdd;
	border-left: 1px solid #ffffdd;
	border-right: 1px solid #ffffdd;
}
#content .box .tabs ul li a.selected {
	background-color: #fafafa;
	border-bottom: 1px solid #fafafa;
}
#content .tabs .tabs-buttons {
	background: #fff;
	border: 0px;
	height: 28px;
	width: 50px;
	border-bottom: 1px solid #ECECEC;
}
#content .tabs .tabs-buttons  button.tab-left, #content .tabs .tabs-buttons  button.tab-right {
	cursor: pointer;
	height: 100%;
	border: 1px solid #ECECEC;
	border-radius: 0px;
}
#content .tabs .tabs-buttons button.tab-left.disabled, #content .tabs .tabs-buttons button.tab-right.disabled {
	border: 1px solid #ccc;
}

/**********************************************************/
/* 20. TABLES */
/**********************************************************/

table.list thead th, table.list tbody td, table.list tbody tr:hover td { border: solid 1px #d7d7d7; }

table.list td,
table.list th { padding: 5px; vertical-align: top; }
table.list input[type="checkbox"] { margin-top: 6px; }

table.list tbody tr:hover { background-color: #dfeff7; }
table.list tr.issue a { color: #666; }
table.list tr.issue a:hover { text-decoration: underline; }

tr.odd.priority-highest, table.list tbody tr.odd.priority-highest:hover { color: #900; font-weight: bold; }
tr.odd.priority-highest { background: #ffe2e2; }
tr.even.priority-highest, table.list tbody tr.even.priority-highest:hover { color: #900; font-weight: bold; }
tr.even.priority-highest { background: #faefef; }
tr.priority-highest a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-highest td, tr.even.priority-highest td { border-color: #fdc9c9; }

tr.odd.priority-high2, table.list tbody tr.odd.priority-high4:hover { color: #900; }
tr.odd.priority-high2 { background: #ffe2e2; }
tr.even.priority-high2, table.list tbody tr.even.priority-high4:hover { color: #900; }
tr.even.priority-high2 { background: #faefef; }
tr.priority-high2 a { color: #900; }
tr.odd.priority-high2 td, tr.even.priority-high4 td { border-color: #fdc9c9; }

tr.odd.priority-high3, table.list tbody tr.odd.priority-high3:hover { color: #900; }
tr.odd.priority-high3 { background: #fee; }
tr.even.priority-high3, table.list tbody tr.even.priority-high3:hover { color: #900; }
tr.even.priority-high3 { background: #fff2f2; }
tr.priority-high3 a { color: #900; }
tr.odd.priority-high3 td, tr.even.priority-high3 td { border-color: #fcc; }

tr.odd.priority-lowest, table.list tbody tr.odd.priority-lowest:hover { color: #559; }
tr.odd.priority-lowest { background: #eaf7ff; }
tr.even.priority-lowest, table.list tbody tr.even.priority-lowest:hover { color: #559; }
tr.even.priority-lowest { background: #f2faff; }
tr.priority-lowest a { color: #559; }
tr.odd.priority-lowest td, tr.even.priority-lowest td { border-color: #d2eafa; }

/**********************************************************/
/* 21. OBJECTS */
/**********************************************************/

div.issue,
div.person,
div.contact,
div.deal {
	border: 0px !important;
	padding: 10px !important;
}

table.cal div.issue { line-height: 1.2em; }

table.progress td { padding: 0px; }

div.details { padding: 20px !important; }

/**********************************************************/
/* 22. RESPONSIVE */
/**********************************************************/

@media screen and (max-width: 1239px) {
	#wrapper3 {
		padding-bottom: 0;
	}
}
@media screen and (max-width: 899px) {
	#top-menu {
		display: block !important;
		position: fixed;
		width: 100%;
		z-index: 8888;
	}
	#wrapper-top-menu div,
	#wrapper-top-menu ul:last-child {
		display: none;
	}
	body #header {
		margin-top: 31px;
	}
	div#content > div.contextual:first-child {
		margin-top: 18px;
	}
}
@media all and (max-width: 899px) {
	body #header {
		background-color: #3d454c;
	}
	#wrapper-header {
		background-image: none;
	}

	body .flyout-menu__avatar {
		margin-left: 8px;
	}
	body .flyout-menu__avatar img.gravatar {
		width: 32px;
		height: 32px;
		padding: 2px;
		border: solid 1px #d5d5d5;
		background: #fff;
		vertical-align: middle;
		border-radius: 0;
		margin-top: 3px;
	}

	body .flyout-menu {
		background-color: #29333a;
	}
	body .flyout-menu a {
		color: #9da2a6;
	}
	body .flyout-menu h3 {
		background-color: #000;
		border-color: #000;
	}
	body .flyout-menu ul.social-menu {
		display: none;
	}

	div#content {
		padding-left: 3.333333%;
		padding-right: 3.333333%;
	}
	#footer div.bgl {
		margin-left: 3.333333%;
	}
	#footer ul.social-menu {
		margin-right: 3.333333%;
	}

	div.details {
		padding: 2% !important;
	}

	div.wiki ul.toc {
		float: none;
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	#wrapper-top-menu {
		text-align: center;
	}
	#wrapper-top-menu ul.social-menu {
		float: none;
		display: inline-block;
	}
	#wrapper-top-menu ul.social-menu > li a {
		color: #fff;
	}
	ul.social-menu > li a {
		width: 24px;
	}
	ul.social-menu > li a:hover {
		background: transparent !important;
	}

	.search-magnifier--flyout {
		margin-left: -1px;
	}
	.flyout-menu__search input[type='text'] {
		padding-left: 32px !important;
	}
}

/**********************************************************/
/* 23. SELECT2 */
/**********************************************************/

.theme-Circlepro .select2-container--default .select2-selection--single {
	background-position: 4px 50%;
	border: 1px solid #e0e2e3;
	border-radius: 3px;
	height: 26px;
	outline: none;  
}
.theme-Circlepro .select2-container--default .select2-selection--multiple {
	border: 1px solid #e0e2e3;
	border-radius: 3px;
	outline: none;  
}
.theme-Circlepro .select2-container--default.select2-container--open .select2-selection,
.theme-Circlepro .select2-container--default .select2-selection:focus,
.theme-Circlepro .select2-container--default.select2-container--focus .select2-selection--single,
.theme-Circlepro .select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #2996cc;	
}
.theme-Circlepro .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 24px;  
	line-height: 25px;
	font-size: 12px;
	outline: none;  
}
.theme-Circlepro .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	font-size: 12px;
}
.theme-Circlepro .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 25px;
	outline: none;  
}
.theme-Circlepro .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #afafaf transparent transparent transparent;	
}
.theme-Circlepro .select2-dropdown {
	border: 1px solid #2996cc;
	border-radius: 3px;
}
