@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	color: #3d454c;
	font-size: 16px;
	line-height: 1.42857em;
	font-family: Lato,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

code, kbd, samp, pre {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code, kbd {
	padding: 2px 4px;
	font-size: 90%;
	border-radius: 0;
}
code {
	color: #c7254e;
	background-color: #f9f2f4;
}
kbd {
	color: #fff;
	background-color: #333;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: Lato,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1em;
}
h1, .wiki h1 { font-size: 34px; }
h2, .wiki h2 { font-size: 28px; }
h3, .wiki h3 { font-size: 22px; }
h4, .wiki h4 { font-size: 20px; }
h5, .wiki h5 { font-size: 19px; }
h6, .wiki h6 { font-size: 18px; }
h1, h2, h3 {
	color: #b40b51;
}
h4, .wiki h4 {
	color: #585b5a;
	border-bottom: 1px dotted #585b5a;
}
h5, .wiki h5 {
	color: #6a6e71;
}
h6, .wiki h6 {
	color: #81868b;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
	padding: 2px 10px 1px 0;
}
h4, .wiki h4 {
	margin-bottom: 10px;
}
h5, h6 {
	padding: 0;
	margin-bottom: 5px;
}

a, a:link, a:visited {
	color: #3c8dbc;
	text-decoration: none;
}
a:hover, a:focus {
    color: #f70a0a;
}

.wiki p, .wiki li {
	text-align: justify;
	word-wrap: break-word;
}
body.wiki, .wiki p, .wiki li {
	font-size: 18px;
}

.wiki li {
	margin-top: 3px;
	margin-bottom: 3px;
}

.wiki table {
	border: 1px solid #bbb;
	border-collapse: collapse;
}
.wiki table td, .wiki table th {
	padding: 4px;
	font-size: 16px;
	vertical-align: top;
}
.wiki table th {
	color: #fff;
	background-color: #556372;
}
.wiki table ul, .wiki table ol {
	margin: 0;
}
.wiki table p, .wiki table li {
	font-size: 16px;
	line-height: 1.42857em;
	margin: 0;
}

blockquote {
	margin-right: 0;
	line-height: 1.2em;
	padding: 8.5px 25px 12.5px;
	border-left: 5px solid #eee;
}
blockquote p {
	margin: 12.5px 0;
}
blockquote, blockquote > p {
	font-size: 22.5px !important;
}

hr {
	width: 100%;
	height: 1px;
	background: #ccc;
	border: 0;
}

/* Youtube plugin */
div.youtube-embed-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
div.youtube-embed-wrapper .responsive-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 * Other styles used in the "Styles" toolbar command.
 */
.note-red,
.note-cyan,
.note-green,
.note-orange,
.note-yellow {
	color: #222;
	margin: .5em;
	padding: .5em;
}
.note-red {
	background-color: Red;
	color: #fff;
}
.note-cyan {
	background-color: SkyBlue;
}
.note-green {
	background-color: PaleGreen;
}
.note-orange {
	background-color: Coral;
}
.note-yellow {
	background-color: BlanchedAlmond;
}

/*
 * Editor styles.
 */
select.cke_dialog_ui_input_select {
	line-height: 20px !important;
}

/* Responsive */
@media screen and (max-width: 767px) {
	.wiki p, .wiki li {
		text-align: left;
	}	
	body.wiki, .wiki p, .wiki li {
		font-size: 16px;
	}
	blockquote, blockquote > p {
		font-size: 18.5px !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 899px) {
	body.wiki, .wiki p, .wiki li {
		font-size: 17px;
	}
	blockquote, blockquote > p {
		font-size: 21.5px !important;
	}
}
